<div class="overflow-x-auto rounded">
    <table class="w-full text-sm text-left">
      <thead class="bg-indigo-800 bg-opacity-20">
        <tr class="text-center">
          <th class="px-4 py-3">ID</th>
          <th class="px-4 py-3">Year</th>
          <th class="px-4 py-3">Title</th>
          <th class="px-4 py-3">Winner</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td class="px-4 py-2 border-b border-gray-300"> id </td>
          <td class="px-4 py-2 border-b border-gray-300"> movie.year </td>
          <td class="px-4 py-2 border-b border-gray-300"> movie.title </td>
          <td class="px-4 py-2 border-b border-gray-300"> ✔ </td>
        </tr>
      </tbody>
    </table>
</div>