<div class="flex flex-col md:flex-row gap-8 px-6 py-6">
    <div class="w-full md:w-1/2 flex flex-col gap-6">
      <div class="bg-white rounded-xl shadow p-4">
        <p class="font-semibold mb-2"> {{multiple_winners_title}} </p>
        <app-multiple-winners-table />
      </div>
  
      <div class="bg-white rounded-xl shadow p-4">
        <p class="font-semibold mb-2"> {{intervals_title}} </p>
        <p class="font-semibold mb-2">{{longest_title}}</p>
        <app-max-interval-table />
        <p class="font-semibold mb-2 mt-5">{{shortest_title}}</p>
        <app-min-interval-table />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 flex flex-col gap-6">
      <div class="bg-white rounded-xl shadow p-4">
        <p class="font-semibold mb-2">{{top_3_studios_title}}</p>
        <app-top-studios-table />
      </div>
  
      <div class="bg-white rounded-xl shadow p-4">
        <p class="font-semibold mb-2">{{winners_by_year_title}}</p>
        <app-winners-by-year-table />
      </div>
    </div>
  </div>
  