<header class="flex px-6 py-8">
    <nav class="flex justify-center gap-4 font-bold w-full items-center">
        <a routerLink="/dashboard" routerLinkActive="font-bold"> {{ dashboard_item }} </a>
        <h1 class="text-xl px-16"> Movies Awards </h1>
        <a routerLink="/movies" routerLinkActive="font-bold"> {{ all_movies_item }} </a>
    </nav>
     <div class="justify-end">
         <select class="bg-black text-white p-1 rounded justify-end" > 
             <option value="pt">PT</option>
             <option value="en">EN</option>
        </select>
    </div>
</header>
  
<main class="p-6">
    <router-outlet />
</main>
  