<div class="overflow-x-auto w-full">
    <table class="min-w-full table-auto">
      <thead class="bg-indigo-700 bg-opacity-30">
        <tr class="text-center">
          <th class="px-4 py-2">year</th>
          <th class="px-4 py-2">win_count</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="px-4 py-2 border-b border-indigo-300"> year </td>
          <td class="px-4 py-2 border-b border-indigo-300"> win_count </td>
        </tr>
      </tbody>
    </table>
</div>
  