<div class="overflow-x-auto w-full">
    <table class="min-w-full table-auto">
      <thead class="bg-indigo-800 bg-opacity-20">
        <tr class="text-center">
          <th class="px-4 py-2"> producer </th>
          <th class="px-4 py-2"> interval </th>
          <th class="px-4 py-2"> previous_year </th>
          <th class="px-4 py-2"> following_year </th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="px-4 py-2 border-b border-gray-300"> producer </td>
          <td class="px-4 py-2 border-b border-gray-300"> interval </td>
          <td class="px-4 py-2 border-b border-gray-300"> previous_year </td>
          <td class="px-4 py-2 border-b border-gray-300"> following_year </td>
        </tr>
      </tbody>
    </table>
</div>