<div class="overflow-x-auto rounded w-full">
    <table class="min-w-full table-auto">
      <thead class="bg-indigo-800 bg-opacity-20">
        <tr class="text-center">
          <th class="px-4 py-2"> {{name}} </th>
          <th class="px-4 py-2"> {{win_count}} </th>
        </tr>
      </thead>
      <tbody>
        @for (studio of topStudios; track studio.studio) {
        <tr class="text-center">
          <td class="px-4 py-2 border-b border-gray-300"> {{ studio.studio }} </td>
          <td class="px-4 py-2 border-b border-gray-300"> {{ studio.wins }} </td>
        </tr>
        }
      </tbody>
    </table>
</div>